{% extends "base.html" %}
{% load  static %}


{% block content %}

    <form method="POST" class="post-form">
                <div class="container-sm">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                            {% csrf_token %}

                            {{ form }}



                                </div>
                          <div class="col">

                          <p><img src="#" alt="Фото автомобиля" class="passe-partout"></p>

                        </div>
                      </div>
                <button type="submit" class="save btn btn-dark">Добавить</button>
            </div>
    </form>
{% endblock %}

